
# vagrant
.vagrant

# rethinkdb
rethinkdb_data/

# python
.Python
include/
man/
lib/
bin/
*.pyc
build/

# angular
!src/client/lib

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

#ide
.idea

