    <h5>Category</h5>
        <div class="checkbox" ng-repeat="category in availableCategories">
          <label>
            <input type="checkbox"  ng-click="addCategory(category)">
            {{category}}
          </label>
        </div>


    <h5>Keyword<h5> 
        <div class="input-group">
          <input type="text" class="form-control" ng-model ="search.text">
            <!-- <span class="input-group-addon"> <img src="img/search-icon.png"> </span> -->
            <span class="input-group-addon" ng-click="search()"> Search </span>
        </div>