
  <div class="bs-sidebar hidden-print" role="complementary">

    <h4>Refine Search:</h4>
    
    <h5>Region</h5>
    <h5>Category</h5>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="print.less">
            Directing
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="print.less">
            Acting
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="print.less">
            Film
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="print.less">
            Makeup
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="print.less">
            Set
          </label>
        </div>

  </div>