
<!-- "Sort by" button group-->
<div class="btn-group" style="float:right;">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        Sort by <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
        <li>
            <a href=""
                ng-repeat="myFilter in sortFilters"
                ng-click="updatePredicate(myFilter)">
                {{ myFilter }}
            </a>
        </li>
    </ul>
</div>

<h5>CURRENT RESULTS</h5>

<br/>

<div style="overflow: scroll; height: 400px; overflow-x: hidden">
        <!--result cell -->
        <div
          class="row"
          ng-repeat="company in companies | selectListToListAttribute : 'Categories' : categories : true | filter:searchText | orderBy:predicate"
          style="cursor: pointer"
          ng-click="updateSelectedCompany(company)">
        
        <!--Company info-->
            <div class="col-md-12" style="width: 95%">
                <!--Rating block-->
                <div style="float:right; text-align:right" >

                    <!--Rating stars-->
                    <rating value="company.AverageReview" max="10" readonly="true"></rating>

                    <p style="font-size: 12px">{{ company.ReviewIds.length }} ratings</p>
                </div>

                <h4>{{company.Name}}</h4>

                <a href="{{company.URL}}" target="_blank">{{company.URL}}</a>

                <br />

                {{ company.Categories.join(", ") }}

            </div>
            
            <!-- Dividing Line -->
            <div><hr></div>
        </div>
    </div>
</div>

