
<div class="row col-md-7">
    <div ng-controller="flashController" ng-show="displayAlert">
      <div class="alert {{ flash.get().alertType }}">
        {{ flash.get().message }}
      </div>
    </div>
    <div class="row col-md-12" style="margin-left: 10px">
        <div class="col-md-5">
            <div>
                <h2>{{selectedCompany.Company.Name}}</h2>
                <rating value="selectedCompany.AverageReview" max="10" readonly="true"></rating>

                <p>
                    <a href="{{selectedCompany.Company.URL}}" target="_blank">
                        {{selectedCompany.Company.URL}}
                    </a>
                </p>

                <!-- Displaying the contact information -->
                <div class="tight">
                    <p>{{ selectedCompany.Company.Contact.Name }}</p>
                    <p><a href="mailto:{{ selectedCompany.Company.Contact.Email }}">
                        {{ selectedCompany.Company.Contact.Email }}
                    </a></p>
                    <p>{{ selectedCompany.Company.Contact.Phone }}</p>
                </div>

                    <!-- Displaying the physical address -->
                <div class="tight">
                    <p>{{ selectedCompany.Company.PhysicalAddress.Address }}</p>
                    <p>
                        <span ng-show="selectedCompany.Company.PhysicalAddress.City">
                            {{ selectedCompany.Company.PhysicalAddress.City }}
                        </span>
                        <span ng-show="selectedCompany.Company.PhysicalAddress.State">
                            , {{selectedCompany.Company.PhysicalAddress.State }}
                        </span>
                        <span ng-show="selectedCompany.Company.PhysicalAddress.ZipCode">
                            {{ selectedCompany.Company.PhysicalAddress.ZipCode }}</p>
                        </span>
                </div>

            </div>
        </div>

        <div class="col-md-7" style="padding: 20px; text-align:right">
            <div class="youtube" ng-repeat="videoUrl in selectedCompany.Company.Videos">
                <iframe width="400" height="225" ng-src="{{ trustUrl(videoUrl) }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <!-- Thinner, grayer line -->
        <div><hr></div>
        <div class="col-md-12" style="margin-left: 25px">
            <h3 ng-controller='ReviewController'>
                REVIEWS
                <a id="less" style="cursor: pointer; font-size: 14px" ng-click="open()">Add a review</a>
            </h3>

            <div class="review" ng-repeat="review in selectedCompany.Reviews.Messages">
                <b>{{ review.Category.join(', ') }}</b> ({{ review.Cost }})
                <!--Rating stars-->
                <div class="rating">
                    <rating value="review.Rating" max="10" readonly="true"></rating>
                </div>
                <p class='content'>"{{ review.Description }}"</p>
            </div>
        </div>
    </div>
</div>

