<div class="navbar navbar-default" style="background-color:white; margin: 0px; border: none">
<a href="http://diversesupplier.mytbwa.com/"><img src="admin_asset/img/logo.jpg" id="logo" alt='TBWA logo' style="max-height: 100%; float: left; clear: right; position: absolute;"></a>
  <div class="navbar-header">
    <a class="navbar-brand" style="margin-left: 50px" href="#/search">TBWA Supplier Diversity</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
