<div ng-controller = "homeSearchController">

    <div id="leftPane">

        <!--Top left map search-->
        <div id="map">
        </div>

        <!--Bottom right company search-->
        <div id="companyAutoComplete">

            <input type="text" ng-model="searchText">
            <table>
                <!-- Enable filtering by the search term and by the company name-->
                <tr class= "filterSearchResult" ng-repeat="company in companies | filter:searchText | orderBy:'Company'">
                    <td>{{company.Company}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!--Main company detail-->
    <div id ="detailView">
    </div>

</div>