<div class="mainBackImage">
    <div class="row" style="height: 25%"></div>

    <!--Main search menu-->
    <div class="row" style="height: 300px; width: 600px; background-color: #000000; margin: auto; opacity: .7">
        <div class="row" ng-include="'client/partials/map.html'" style="height: 50%; margin-left: 25%"></div>
        <div ng-include="'client/partials/category.html'" class="categoryColumn"></div>

        <!--Keyword search-->
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4">
                <h4 style="vertical-align: middle">KEYWORD</h4>

            </div>
            <div class="input-group col-md-6">
                <input type="text" class="form-control" ng-model ="search.text" style="width: 100%; height: 25px; vertical-align: middle; margin-left: 10px; margin-top: 6px">
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn" ng-click = "search()">Search</button>
            </div>
        </div>
    </div>

    <!--Spacing-->
    <div class="row" style="height: 25%"></div>

</div>