
<div class="modal-body" style="max-height: 800px; padding: 40px">

    <h3 class="text-center" style="margin:0px">WRITE A REVIEW</h3>

    <!-- Type of Job Button Group -->
    <h4>Type of Job:</h4>
    <div ng-repeat="(name, value) in reviewCategoryChoices">
        <input type="checkbox" ng-model="reviewCategoryChoices[name]"> {{ name }}
    </div>

    <!-- Extra spacing needed here -->
    <br />

    <!-- Size of Job Button Group -->
    <h4>Size of Job:</h4>
    <div class="radio" ng-repeat="r in jobSizeRanges">
        <input type="radio" value="{{ r.Range }}" ng-model="newReview.Cost">
        {{ r.Range }}
    </div>

    <!-- Extra spacing needed here -->
    <br />

    <!-- Rating Selection -->
    <div>
        <h4>
            Rating:
            <rating value="newReview.Rating"></rating>
        </h4>
    </div>

    <!-- Extra spacing needed here -->
    <br />

    <div>
        <h4> Reviewer Name: </h4>
        <input class="form-control" rows="6" ng-model="newReview.Reviewer">{{newReview.Reviewer}}
    </div>


    <div>
        <h4> Share your experiences with this company. </h4>
        <textarea class="form-control" rows="6" ng-model="newReview.Description">{{newReview.Content}}</textarea>
    </div>

    <!-- Extra spacing needed here -->
    <br />
    <button class="btn btn-primary" style="float: right" ng-click="submitReview()">Submit</button>

</div>

