<div class="container" ng-init="initPage()">
  <div class="content-area">
    <form role="form">
      <!-- Basic company info -->
      <h3> {{ pageTitle }} <i>{{ company.Name }}</i></h3>
      <div class="form-group">
        <label for="name">Company Name</label>
        <input
          type="text"
          class="form-control"
          ng-model="company.Name"
          placeholder="Name">
      </div>
      <div class="form-group">
        <label for="website">Website</label> (requires a full URL)
        <input
          class="form-control"
          ng-model="company.URL"
          placeholder="URL">
      </div>

      <div class="form-group">

        <div class="row">



        <!-- Classification -->
          <div class="col-md-4">
            <label>Classification(s)</label>
            <div class="checkbox" ng-repeat="(name, value) in classifications" >
              <label>
                <input type="checkbox" ng-model="classifications[name]"> {{ name }}
              </label>
            </div>
          </div>

          <!-- Categories LEFT -->
          <div class="col-md-4">
            <label>Category(s)</label>
            <div class="checkbox" ng-repeat="(name, value) in categories" ng-show="$even">
              <label>
                <input type="checkbox" ng-model="categories[name]"> {{ name }}
              </label>
            </div>
          </div>

          <!-- Categories RIGHT -->
          <div class="col-md-4">
            <div style="margin-bottom:30px;"></div>
            <div class="checkbox" ng-repeat="(name, value) in categories" ng-show="!$even">
              <label>
                <input type="checkbox" ng-model="categories[name]"> {{ name }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Clients -->
      <div class="form-group">
        <label for="clients">Past Clients (seperated by commas) </label>
        <input type="text" class="form-control" id="clients" placeholder="Clients" ng-model="company.Clients">
      </div>

      <!-- DBA -->
      <div class="form-group">
        <label for="dba">DBA ("Doing Business As")</label>
        <input type="text" class="form-control" id="dba" placeholder="DBA" ng-model="company.DBA">
      </div>

      <!--Addresses-->
      <div class="form-group">
        <div id="left">
          <label for="physical-address">Physical Address</label>
          <input type="text" class="form-control" id="physical-address"
            placeholder="Street Address" ng-model="company.PhysicalAddress.Address">
          <input type="text" class="form-control" id="physical-address"
            placeholder="City" ng-model="company.PhysicalAddress.City">
          <select class="form-control"
            ng-options="choice.state as choice.state for choice in states"
            ng-model="company.PhysicalAddress.State"></select>
          <input type="text" class="form-control" id="physical-address"
            placeholder="Zip Code" ng-model="company.PhysicalAddress.ZipCode">
        </div>

        <div id="right">
          <label for="remit-address">Remit Address</label>
          <input type="text" class="form-control" id="remit-address"
            placeholder="Street Address" ng-model="company.RemitAddress.Address">
          <input type="text" class="form-control" id="remit-address"
            placeholder="City" ng-model="company.RemitAddress.City">
          <select class="form-control"
            ng-options="choice.state as choice.state for choice in states"
            ng-model="company.RemitAddress.State"></select>
          <input type="text" class="form-control" id="remit-address"
            placeholder="Zip Code" ng-model="company.RemitAddress.ZipCode">
        </div>
        <br style="clear:both;"/>
      </div>

      <br>
      <h3>Contact Information</h3>
      <div class="form-group">
        <label for="contact-name">Contact Name</label>
        <input type="text" class="form-control"
          id="contact-name" placeholder="Name"
          ng-model="company.Contact.Name">
      </div>

      <div class="form-group">
        <label for="contact-email">Email Address</label>
        <input type="email" class="form-control"
          id="contact-email" placeholder="Contact Email"
          ng-model="company.Contact.Email">
      </div>

      <div class="form-group">
        <label for="contact-phone">Phone Number</label>
        <input type="tel" class="form-control"
          id="contact-phone" placeholder="Phone number"
          ng-model="company.Contact.Phone">
      </div>

      <br>
      <h3>Additional Information</h3>
      <div class="form-group">
        <label for="contact-name">Long description</label>
        <textarea class="form-control" rows="3"
          placeholder="Description" ng-model="company.Description"></textarea>
      </div>

      <!--Youtube Videos-->
      <label for="video">Video (YouTube)</label>
      <div ng-repeat="video in company.Videos">
        <div class="input-group">
          <span class="input-group-btn">
            <button ng-click="company.Videos.splice($index, 1)" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-minus"></span></button>
          </span>
          <input
            ng-model="video"
            type="url"
            class="form-control"
            id="video"
            placeholder="http://youtube.com/...">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-btn">
            <button ng-click="addVideo()" class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button>
        </span>
        <input
          ng-model="nextVideo"
          type="url"
          class="form-control"
          id="video"
          placeholder="http://youtube.com/...">
      </div>

      <!-- Buttons, loads a partial declared in the controller  -->
      <br><br>
      <div ng-include="pageButtons"></div>
      <br style="clear:both;"/>

  </form>
</div>

