
<div class="container" ng-init="initPage()">

  <!-- Review -->
  <!-- 
  <div class="jumbotron">
    <h2>Company Profiles</h2>
    <p>Edit information of existing companies.
      <select
        class="input-company"
        ng-model="activeCompany"
        ng-options="company.Name for company in companies | orderBy:'Name'">
      </select>
      <a ng-href='/admin#/companies/edit/{{ activeCompany.id }}'>
        <button type="submit" class="btn btn-default btn-primary">Edit Company</button>
      </a>
    </p>
    <p>
      Add a new company.
      <a ng-href="/admin#/companies/new">
        <button type="submit" class="btn btn-default btn-success">New Company</button>
      </a>
    </p>
  </div>
  -->

  <div class="jumbotron">
    <h2>Company Profiles</h2>
    <p>Edit information of existing companies.
    <div>
      <p>
        Add a new company.
        <a ng-href="/admin#/companies/new">
          <button type="submit" class="btn btn-default btn-success">New Company</button>
        </a>
      </p>
    </div>

    <div>
      <input type="text" ng-model="companySearch">
    </div>
    <br style="clear:both;"/>

    <ul class="list-group">
      <li
        ng-repeat="company in companies | orderBy : 'Name' | filter : companySearch"
        ng-class="{'list-group-item':true, 'active':(chosenId == company.id)}">
        {{ company.Name }}

        <span style="float:right">
          <a ng-href='/admin#/companies/edit/{{ company.id }}'>
            <button type="submit" class="btn btn-default btn-primary">Edit Company</button>
          </a>
        </span>

      </li>
    </ul>
  </div>

</div> 

