
<div class="container" ng-init="initPage()">

  <!-- Review -->
  <div class="jumbotron">
    <h2>Company Profiles</h2>
    <p>Edit information of existing companies.
      <select
        class="input-company"
        ng-model="activeCompany"
        ng-options="company.Name for company in companies">
      </select>
    </p>
    <p>Add a new company.</p>
      <a ng-href="/admin#/companies/new">
        <button type="submit" class="btn btn-default btn-primary">New Company</button>
      </a>
  </div>

</div> 

