
<div class="container" ng-init="initPage()">

  <!-- Review -->
  <div class="jumbotron">
    <h2>Pending Reviews</h2>
    <p>Approve or dismiss reviews submitted by TBWA Employees.</p>
  </div>

  <div
    class="content-area"
    ng-repeat="review in reviews | filter:{approved: false}">
    <div id="left">
      <h3>1080 Productions</h3>
      <span><b>Category:</b> {{ review.category }}, <b>Cost Range:</b> {{ review.cost }}</span>
      <h4>Submitted by {{ review.submitter.email }} on {{ review.date }}</h4>
    </div>
    <div id="right">
      <button
        class="btn btn-large btn-success"
        ng-click="approveReview(review)">
        Approve
      </button>
      <button
        class="btn btn-large"
        ng-click="deleteReview(review)">
          Dismiss
      </button>
    </div>
    <br style="clear:both;"/>
    <p>
      {{ review.description }}
    </p>
  </div>

</div>

