
<div class="container" ng-init="initPage()">

  <!-- Review -->
  <div class="jumbotron">
    <h2>Pending Reviews</h2>
    <p>Approve or dismiss reviews submitted by TBWA Employees.</p>
  </div>

  <div
    class="content-area"
    ng-repeat="review in reviews | filter:{approved: false}">
    <div id="left">
      <h3>1080 Productions</h3>
      <span><b>Category:</b> {{ review.category }}, <b>Cost Range:</b> {{ review.cost }}</span>
      <h4>Submitted by {{ review.submitter.email }} on {{ review.date }}</h4>
    </div>
    <div id="right">

      <button
        ng-show="!confirmApprove"
        class="btn btn-large btn-primary"
        ng-click="confirmApprove=true">
        Approve
      </button>
      <button
        ng-show="confirmApprove"
        class="btn btn-large btn-success"
        ng-click="approveReview($index)">
        Confirm Approve
      </button>

      <button
        ng-show="!confirmDelete"
        class="btn btn-large btn-warning"
        ng-click="confirmDelete=true">
          Dismiss
      </button>
      <button
        ng-show="confirmDelete"
        class="btn btn-large btn-danger"
        ng-click="deleteReview($index)">
          Confirm Dismiss
      </button>

    </div>

    <br style="clear:both;"/>
    <p>
      {{ review.description }}
    </p>
  </div>

</div>

<h1 ng-show="!reviews.length">
  No reviews to address!
</h1>

