
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="/admin_asset/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin_asset/css/signin.css" rel="stylesheet">
  </head>

  <body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-danger">
      <li>{{ messages[0] }}</li>
    </ul>
  {% endif %}
  {% endwith %}

    <div class="container">
      <form class="form-signin" method="POST" action='/admin/login' enctype='application/json'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name='email' type="text" class="form-control" placeholder="Email address" required autofocus>
        <input name='password' type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>

